<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movie List</title>
</head>
<body>
<h1>Movie List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${movieList}">
        <td th:text="${movie.getId()}"></td>
        <td th:text="${movie.getName()}"></td>
        <td th:text="${movie.getDescription()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>